@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,700;0,900;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Estilos gerais */
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    ;
}

a{
    list-style-type: none;
    text-decoration: none;
    color: black;
}

/* Menu de navegação */
nav {
    height: 90px;

    padding-left: 190px;
    padding-right: 190px;

    background-color: #E9E9E9;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    text-decoration: none;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 300px;
    font-weight: 500;
    font-size: 16px;
}

/* Responsividade dos quadrados */
@media (max-width: 1080px)
{
    nav {
        padding-left: 140px;
        padding-right: 140px;
    }
}

@media (max-width: 700px)
{
    nav {
        flex-direction: column;
        height: 125px;
        justify-content: space-around;
    }

    nav ul{
        margin-bottom: 10px;
    }
}

main{
    min-height: 71vh;
    text-align: center;
}
div{
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    margin-top: 40px;
}

#primeiraFase, #segundaFase{
    margin: 50px 80px;
    font-size: 25px;
    font-weight: 700;
    padding: 15px;
    color: #000000;
	border: 1px solid #eee;
	border-radius: 20px;
	box-shadow: 5px 5px 5px #eee;
}

#primeiraFase{
    background-color: rgb(247, 57, 57);
    color: #E9E9E9;
}

#segundaFase{
    background-color: rgb(43, 184, 202);
    color: #E9E9E9;
}

@media (max-width: 740px)
{
    #primeiraFase, #segundaFase{
        margin: 50px 30px;
        font-size: 20px;
        font-weight: 700;
        padding: 15px;
        
    }

}

@media (max-width: 700px)
{
    main{
        min-height: 67vh;
        text-align: center;
    }
}
@media (max-width: 375PX)
{
    #primeiraFase, #segundaFase{
        margin: 50px 10px;
        font-size: 20px;
        font-weight: 700;
        padding: 15px;
        
    }
}


footer{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 50px;
    width: 100%;
    min-height: 80px;
    background-color: #E9E9E9;
}

footer a{
    color: rgb(69, 9, 180);
}